In [1]:
import pandas as pd

In [41]:
data = pd.read_csv("heart_disease.csv")
data.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0

In [42]:
data.dropna(axis=0,how="any",inplace=True)
data.shape

(297, 14)

In [46]:
data["target"][data["target"] != 0] = 1
data_target = data["target"]
data.drop("target", axis = 1, inplace=True)
data.insert(0, "target", data_target)

C:\Users\陈十\AppData\Local\Temp/ipykernel_9632/799518757.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["target"][data["target"] != 0] = 1

In [47]:
data["target"].value_counts()
data.to_csv("hd.txt",sep=" ",index=False)

In [20]:
old_data = pd.read_csv("heart_disease_preprocessed.csv")
old_data.shape

(297, 14)

In [13]:
old_data["诊断结果"].value_counts()

健康    160
患病    137
Name: 诊断结果, dtype: int64